*.o
*.lo
*Makefile
*.xml
*.DS_Store
*.libs
*.deps
*.la
*.log

.vscode/
acinclude.m4.orig
aclocal.m4.orig
autom4te.cache/
config.status
contrib/libpki.pc
docs/pkginfo
libtool
src/drivers/pkcs11/utils/.dirstamp
src/global-vars
src/libpki/config.h
src/libpki/libpkiv.h
src/libpki/pki_config.h
src/libpki/stamp-h1
src/scripts/libpki-config
src/tools/pki-cert
src/tools/pki-crl
src/tools/pki-query
src/tools/pki-request
src/tools/pki-siginfo
src/tools/pki-tool
src/tools/pki-xpair
src/tools/url-tool
